{% extends "users/dashboard.html" %}

{%block title%}
Lista gruppi
{% endblock %}

{% block content%}
<div class="group-list-container">
    <h3>Gruppi di studio</h3>
    <div class="add-group">
        <a href="{% url 'groups:create_group' %}" class="main-buttons">Crea un nuovo gruppo</a>
        <a href="{% url 'groups:my_invites' %}" class="main-buttons">Vedi richieste</a>
    </div>

    {%if groups%}
        {% for group in groups %}
        <div class="group">
            <a href="{% url 'groups:group_details' group.id %}" class="group-name">{{ group.name }}</a>
            <hr>
            <p class="group-description">{{ group.description }}</p>
            <span class="privacy-badge">{{ group.privacy}}</span>
            <a href="{% url 'groups:group_details' group.id %}" class="main-buttons">Entra</a>
        </div>
        {% endfor %}
    {% else %}
        <h4>Nessun gruppo disponibile</h4>
    {% endif %}
</div>

{%endblock%}
