{% extends "users/dashboard.html" %}

{%block title%}
Richieste di invito
{% endblock %}

{% block content%}
<div class="group-list-container">
    <h3>Richieste</h3>
    {%if invites %}
        {% for invite in invites %}
        <div class="group">
            <div class="invite-details">
                <p>{{invite.group.name}}</p>
                <p>Gruppo: {{invite.group.name}}</p>
            </div>
            <div class="action-button-invite">
                <a href="{% url 'groups:invite_response' invite.id 'accept' %}" class="main-buttons">Accetta</a>
                <a href="{% url 'groups:invite_response' invite.id 'reject' %}" class="main-buttons">Rifiuta</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h4>Nessuna richiesta di invito.</h4>
    {% endif %}
</div>

{%endblock%}
