{% extends 'base.html' %}

{% block title %}
Lista Sessioni
{% endblock %}

{% block content %}
    <h5>Le tue Sessioni di Studio</h5>
        {% if sessions %}
            <div class="list-group">
                {% for session in sessions %}
                    <div class="session">
                        <strong>{{ session.subject }}</strong> - 
                        {{ session.duration }} ore - 
                        <small >{{ session.date }}</small>
                    </div>    
                {% endfor %}
            </div>
        {% else %}
            <p>Non hai ancora registrato sessioni di studio. Inizia ora!</p>
        {% endif %}
   <div>
    <a href="{% url 'study:add_session' %}"> Aggiungi Sessione ➕ </a>
   </div> 
   <div>
    <a href="{% url 'users:dashboard' %}"> Oppure ritorna alla dashboard </a>
   </div> 
{% endblock %}