{% extends 'base.html' %}
{% block title %}
Dashboard
{%endblock %}

{% block content %}

<div class="dashboard-main">
    <h2>La tua Dashboard</h2>
    <div class="riepilogo">
        <div class="riquadro1">
            <p>Ore totali oggi</p>
            <h3>{{hours_today_total}}</h3>
        </div>
        <div class="riquadro2">
            <p>Ore totali questa settimana</p>
            <h3>{{hours_weekly_total}}</h3>
        </div>
        <div class="riquadro3">
            <p>Giorni consecutivi</p>
            <h3>{{streak_count}}</h3>
        </div>
        <div class="riquadro4">
            <p>Materia più studiata</p>
            <h3>{{ favourite_subject.subject__name }}</h3>
        </div>
    </div>

    <div class="goal-progression">
        <div class="daily">
            <canvas id="dailyGraph" ></canvas>
        </div>
        <div class="weekly">
            <canvas id="weeklyGraph"></canvas>
        </div>
    </div>
    <div class="grafici">
        <div class="torta">
            <canvas id="graficoTorta" ></canvas>
        </div>
        <div class="linee">
            <canvas id="graficoLinee"></canvas>
        </div>
    </div>
    
     <div>
        <a href="{% url 'users:export' %}" class="main-buttons"> Scarica i dati </a> 
    </div>
</div>




<!-- Codice grafici-->
<script>

var xPieValues = JSON.parse('{{ piechart_xvalues|escapejs }}');
var yPieValues = JSON.parse('{{ piechart_yvalues|escapejs }}');
var barColors = [
  '#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF', '#FF9F40'
]; 

new Chart("graficoTorta", {
    type: "pie",
    data: {
        labels: xPieValues,
        datasets: [{
      backgroundColor: barColors,
      data: yPieValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Distribuzione giornaliera"
      
    }
  }
});
xLineValues = JSON.parse('{{ line_graphx|escapejs }}');
yLineValues = JSON.parse('{{ line_graphy|escapejs }}');


new Chart("graficoLinee", {
  type: "line",
  data: {
    labels: xLineValues,
    datasets: [{
      fill: true,
      lineTension: 0,
      backgroundColor: "#edd69cff",
      borderColor: "#9966FF",
      data: yLineValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 0, max:10}}],
    }
  }
});


var dailyCurrent = JSON.parse('{{ daily_current|escapejs }}');
var dailyRemaining = JSON.parse('{{ daily_remaining|escapejs}}'); 

var barColorsD = [
  '#FF6384', '#b8ccc4'
]; 

new Chart("dailyGraph", {
    type: "doughnut",
    data: {
        labels: ['completed', 'remaining'],
        datasets: [{
      backgroundColor: barColorsD,
      data: [dailyCurrent, dailyRemaining],
    }]
  },
  options: {
    title: {
      display: true,
      text: "Progresso giornaliero"
      
    }
  }
});
   
var weeklyCurrent = JSON.parse('{{ weekly_current|escapejs }}');
var weeklyRemaining = JSON.parse('{{ weekly_remaining|escapejs}}'); 


new Chart("weeklyGraph", {
    type: "doughnut",
    data: {
        labels: ['completed', 'remaining'],
        datasets: [{
      backgroundColor: barColorsD,
      data: [weeklyCurrent, weeklyRemaining],
    }]
  },
  options: {
    title: {
      display: true,
      text: "Progresso settimanale"
      
    }
  }
});
   
</script>
{% endblock %}
